* {
    margin: 0;
    padding: 0;
}



ul:after {
    content: ""; 
    display: block; 
    clear: both 
}

ul {
    zoom: 1;
     /* 启用弹性盒布局 */
    display: flex;
    /* 使子元素水平居中 */
    justify-content: center;
    /* 使子元素垂直居中 */
    align-items: center;
}

li {
    list-style-type:none;

    float: left;
    margin: 1%;
    /*外边距*/
    padding-bottom: 30%;

    /*下内边距*/
    width: 30%;

    /*宽度*/
    height: 0;

    /*高度*/
    background-color: #EEB422;

    border-radius: 10px;

}